.glyphicon:hover {
    cursor: pointer;
}

.clickable: hover {
    cursor: pointer;
}

.remove {
    color: #910202;
}

.glypdisaled {
    color:#a5a5a5;
}

.glypdisaled:hover {
    cursor: default;!important
}
